    
<section id="storage-creation">
    <form action="/upload/file" method="post" enctype="multipart/form-data">
    <input type="file" id="upFile" name="upFile"  style="display: none;"/>
    <label for="upFile">add File</label>
    <button>Upload</button>
    </form>
    <button id="show-folder-creation-dialog" type="button">create Folder</button>
</section>