<dialog id="edit-folder-dialog">
    <form method="post" action="/edit">
        <label for="name">Foldername:</label>
        <input id="name" name="foldeName">
        <button>submit change</button>
        <button formaction="/delete">delete folder</button>
        <button type="button" id="cancel-edit-folder-btn">cancel</button>
    </form>
</dialog>