<dialog id="file-creation-dialog">
    <form action="/upload/file" method="post" enctype="multipart/form-data">
    <input type="file" id="upFile" name="upFile"  style="display: none;"/>
    <label for="upFile">
    <img src="/icons/plus-thick.svg" alt="add file" width="50" height="50">    
    </label>
    <input type="hidden" name="folderId" value="<%= folder.id %>">
    <button>Upload</button>
    <button type="button" id="cancel-add-file-dialog">cancel</button>
    </form>
</dialog>
