<h3>please log in!</h3>
<form method="post" action="/auth/login">
    <label for="username">Username:</label>
    <input name="username" type="text">

    <label for="password">Password</label>
    <input name="password" type="password">
    <button>log in</button>
</form>
<button type="button" id="register-form">register</button>  