
<h3>please log in!</h3>

<form method="post" action="/auth/login" id="log-in-form">

    <div class="field">
        <label for="username">Username:</label>
        <input name="username" type="text">
    </div>

    <div class="field">
        <label for="password">Password:</label>
        <input name="password" type="password">     
    </div>

    <div class="field">
        <button>log in</button>
        <button type="button" id="register-form">register</button>         
    </div>
    
 </form>



