<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>file-uploader</title>
</head>
<body>
    <header style="display: flex; flex-direction: row; align-items: center;">
            <a href="/"  style="font-size: 40px; width: min-content; padding: 10px;">filoader</a>
            <% if(user){ %>
            <a href="/auth/logout" style="justify-self: end; padding: 20px; margin-left: auto; margin-right: 10px;">logout</a>
            <% } %>
    </header>
    <main>
        <% if(errors){ %>
            <%- console.log(errors) %>
            <div class="alert-error" >Error: <%= errors %></div>
        <% } %>

        <% if(user){ %>
            <%- include('partials/userDashboard') %>   
        <% } else { %>
            <%- include('partials/guestDashboard') %>
        <% } %>

    </main>

    <dialog id="register">
        <h5 style="justify-self: center;">all fields are required!</h5>
        <form class="sign-up-form" id="sign-up-form" method="post" action="/auth/register">

            <div class="field">
                <label for="firstName">First name</label>
                <input id="firstName" name="firstName" type="text" minlength="3" maxlength="12" required>
            </div>

            <div class="field">
                <label for="lastName">Last name</label>
                <input id="lastName" name="lastName" type="text" minlength="3" maxlength="12" required>
            </div>

            <div class="field">
                <label for="username">Username:</label>
                <input id="username" name="username" type="text" minlength="4" maxlength="24"required>
            </div>

            <div class="field">
                <label for="sign-up-password">Password</label>
                <input id="sign-up-password" name="password" type="password" minlength="5" maxlength="30" required>
            </div>

            <div class="field">
                <label for="sign-up-confirm-password">Confirm password</label>
                <input id="sign-up-confirm-password" name="confirmPassword" type="password" required>
            </div>

            <div class="field">
                <button type="submit" id="register-button">register</button>
                <button id="close-dialog" type="button">cancel</button>
            </div>
        </form>
    </dialog>

    <script>
        //displays and hides dialog
        const dialogBtn = document.getElementById('register-form');
        const closeBtn = document.getElementById('close-dialog');
        const dialogForm = document.getElementById('register');

        dialogBtn.addEventListener('click',()=>{
            dialogForm.showModal();
        });
        closeBtn.addEventListener('click',()=>{
            dialogForm.close();
        });
        //password confirmation validation
        const pass = document.getElementById('sign-up-password');
        const confirmPass = document.getElementById('sign-up-confirm-password');
        const submitFormBtn = document.getElementById('register-button');
        submitFormBtn.disabled = true;

        const matchPasswords = (passwordOne, passwordTwo)=>{
            if(passwordOne ===passwordTwo){
                confirmPass.classList.remove('invalid-input');
                confirmPass.classList.add('valid-input');
                    
                submitFormBtn.disabled = false
                return
            }
            confirmPass.classList.remove('valid-input');
            confirmPass.classList.add('invalid-input');
            submitFormBtn.disabled = true
        }


        let passOne;
        let passTwo;
        pass.addEventListener('input',(e)=>{
            passOne =e.target.value
            matchPasswords(passOne, passTwo);
        })
        confirmPass.addEventListener('input',(e)=>{
            passTwo =e.target.value
            matchPasswords(passOne, passTwo);      

        })

    </script>
    
    
</body>
</html>