html, body{
    height: 100%;
}
html{
    background-color: rgb(214, 220, 224);
}
body{
    display: flex;
    flex-direction: column;
    background-color: rgb(240, 240, 240);
    margin: 0px;

}
header{
    position: fixed;
    width: 100%;
    top: 0px;
    background-color: rgb(40, 143, 240);
    padding: 8px;
    color: white;
    z-index: 2;

}
a{
    color: inherit;
    text-decoration: none;
    text-align: center;
    align-content: center;
    transform: scale(1);
    transition: transform .2s ease-out;
    box-shadow: none;
    
}
a:hover{
    outline: 1px solid rgb(10, 136, 253);
    border-radius: 25px;
    background-color: rgb(40, 143, 240);
    transform: scale(1.1);
    box-shadow: 0px 0px 24px -15px rgba(66, 68, 90, 1);
}
main{
    /*
    notes for next time having a single layout source for main is causing toruble 
    when switching between user and guest dashboards, for next time  implement  a class  layout switch
    based on if user is logged in or not
    */
    margin-top: 100px;
    flex: 1;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template: 1fr 8fr/ 1fr ;


}
/* guest dashboard*/
#log-in-form{

    outline: 1px solid rgb(0, 153, 255) ;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
/* user dashboard*/
#folder-info{
    margin:0px 20px 0px 20px;
    padding: 10px;
    border-radius: 20px;
    display: grid; 
    grid-template-columns: 4fr 1fr; 
    grid-template-rows: 1fr;
    justify-self: stretch;
    align-items: center;
    border-bottom: 1px solid rgb(185, 185, 185);
    box-shadow: 0px 0px 24px -15px rgba(66, 68, 90, 1);
}
#file-info{
    margin:0px 20px 0px 20px;
    padding: 10px;
    border-radius: 20px;
    display: grid; 
    grid-template-columns: 4fr 1fr ; 
    grid-template-rows: 1fr;
    justify-self: stretch;
    align-items: center;
    border-bottom: 1px solid rgb(185, 185, 185);
    box-shadow: 0px 0px 24px -15px rgba(66, 68, 90, 1);
}
#add-file-btn{
    cursor: pointer; 
    padding: 30px; 
    background-color: rgb(4, 6, 15); 
    color: rgb(164, 165, 168);
    border-radius: 20px;

}
.storage-container{
    padding: 20px;
    background-color: rgb(255, 250, 250);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    width: 90%;
    align-self: start;
    align-items: stretch;
    justify-items: center;
    gap: 5px;
    max-height: 100%;
}
.storage-Btn{
    outline: 1px solid gray;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 1fr 2fr;
    grid-template-rows: 1fr;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0px 0px 24px -15px rgba(66, 68, 90, 1);
    gap: 5px;
    align-content: center;
}
.storage-Btn:hover{
    background-color: rgb(255, 255, 255);
    outline: 1px solid rgb(0, 153, 255) ;
}
#storage-creation{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-self: center;
    align-self: center;
    gap: 5px;
    
}
.field{
    display: grid;
    grid-template: 1fr  /1fr 1fr;
    gap: 8px;
    margin-bottom: 10px;
}
dialog{
    border: none;
    border-radius: 20px;
    outline: 1px solid rgb(0, 153, 255) ;

}
label{
    align-self: center;
}
input{
    color: rgb(0, 0, 0);
    align-self: center;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(218, 225, 231);
    border: none;
}
input:hover{
    background-color: rgb(88, 93, 97);
}
button{
    border-radius: 20px;
    background-color: rgb(4, 6, 15);
    color: rgb(164, 165, 168);
    padding: 10px;
    outline: none;
    border: none;
    transform: scale(1);
    transition: transform .2s ease-out;
    box-shadow: none;
}
button:hover{
    outline: 1px solid rgb(10, 136, 253);
    background-color: rgb(40, 143, 240);
    color: white;
    transform: scale(1.1);
    box-shadow: 0px 0px 24px -15px rgba(66, 68, 90, 1)
}
.invalid-input{
    outline: 1px solid red;
    outline-offset: 1px;
}
.valid-input{
    outline: 1px solid green;
    outline-offset: 1px;
}
/**/
#create-file-dialog{

}
@media (min-width: 1280px) {
    header{
        width: 1280px; 
        padding: 0px;
        padding-bottom: 10px;       
    }
    body{
        width: 1280px;
        justify-self: center;
        box-shadow: 0px 0px 24px -15px rgba(66, 68, 90, 1)
    }
}
/*error handler*/
.alert-error{
    position: absolute;
    background-color: red; 
    color: white;
    bottom: 20px;
    right: 20px;
    padding: 20px;
    border-radius: 20px;
    opacity: 0;
    animation: error-pop-up 5s ease-in-out both;

}
@keyframes error-pop-up {
    0%      {
                opacity: 0;
                bottom: -20px;
            }
    50%     {
                opacity: 1;
                bottom: 20px;
            }
    100%    {opacity: 0;}
    
}

@media (max-width: 700px){

    main{
        height: min-content;
    }
    /*authenticated*/
    #file-info{
        margin: 0px;
        grid-template-columns: 1fr ; 
        grid-template-rows: 2fr 2fr;
        justify-items: center;
    }
    #folder-info{
        margin: 0px;
        grid-template-columns: 1fr ; 
        grid-template-rows: 2fr 2fr;
        justify-items: center;    
    }
    .storage-creation{
        width: 100%;
        justify-content: center;
    }
    #storage-creation > button{
        flex: 1;
        height: 100%;
    }
    .storage-Btn{
        grid-template-columns: 1fr;
    }
    .folder-Btn{
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 1fr 1fr 2fr;
    }
    .file-Btn > a {
        color: rgb(255, 255, 255);
        background-color: rgb(47, 164, 241);
        outline: 1px solid rgb(0, 153, 255) ;
        border-radius: 15px;
        padding: 10px;
    }
}