html, body{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    background-color: rgb(240, 240, 240);
    margin: 0px;

}
header{
    background-color: rgb(40, 143, 240);
    padding: 8px;
    color: white;

}
main{
    flex: 1;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template: 1fr 5fr 4fr/ 1fr ;

}
/* guest dashboard*/
#log-in-form{

    outline: 1px solid rgb(0, 153, 255) ;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
/* user dashboard*/
#storage-container{
    display:grid;
    grid-template: repeat( 10, 1fr)/repeat( 5, 1fr);
    align-items: center;
    justify-items: center;
    padding: 15px;
    gap: 5px;
}
#storage-creation{
    justify-self: center;
    align-self: center;
    
   
}
.field{
    display: grid;
    grid-template: 1fr  /1fr 1fr;
    gap: 8px;
    margin-bottom: 10px;
}
dialog{
    border: none;
    border-radius: 20px;
    outline: 1px solid rgb(0, 153, 255) ;

}
label{
    align-self: center;
}
input{
    color: white;
    align-self: center;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(218, 225, 231);
    border: none;
}
input:hover{
    background-color: rgb(88, 93, 97);
}
button{
    border-radius: 20px;
    background-color: rgb(4, 6, 15);
    color: rgb(164, 165, 168);
    padding: 10px;
    outline: none;
    border: none;
}
button:hover{
    outline: 1px solid rgb(164, 165, 168);
    background-color: rgb(17, 21, 39);
    color: white;
}

#sign-up-form{

}
.invalid-input{
    outline: 1px solid red;
    outline-offset: 1px;
}
.valid-input{
    outline: 1px solid green;
    outline-offset: 1px;
}